body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: contents;
    height: 100vh;
}

.app-sidebar {
    width: 200px; /* Définissez la largeur souhaitée de la sidebar */
    background-color: lightgreen;
}

.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layoutmain {
    flex: 1;
    overflow: auto;
}

.menubar {
}
