<div class="container">
  <div class="custom-logo">
    STK
  </div>  
  <div class="custom-menu">
    <i class="pi pi-bars" style="font-size: 2rem"></i>
  </div>
  <div class="custom-search">
    <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" class="text-base text-color surface-overlay border-10 border-solid surface-border border-round apparance-none outline-none focus:border-primary w-24rem h-2rem" />
    </span>
  
  </div>
  <div class="custom-logout">
    <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="secondary "></p-button>
    <p-button icon="pi pi-sign-out" [rounded]="true" [text]="true" severity="secondary "></p-button>
    <p-button icon="pi pi-language" [rounded]="true" [text]="true" severity="secondary "></p-button>

</div>
</div>

